body{
    background-color: #545A6B;
}

#titre{
    position: relative;
    background-color: #424651;
    border-radius: 75px;
    width: 40%;
    height: 15%;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#cadre{
    position: absolute;
    background-color: #424651;
    border-radius: 75px 75px 0px 0px;
    top: 25%;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

#text_style_1{
    position: relative;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 75px;
}

#bouton{
    position: absolute;
    background-color: #21fa90;
    height: 8%;
    width: 18.5%;
    border-radius: 25px;
    top: 20%;
    left: 10%;
    display: table-cell;
}

#text_style_2{
    text-align: center;
    color: black;
    text-decoration: underline;
}

#bouton:hover{
    background-color: #09c56a;
}
